@import "./_variables";
@import "./_reset.scss";
@import "./_breakpoints.scss";
@import "./_contact-form.scss";

body {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  background: $background;
  color: $textColor;
  font-size: 1.2rem;
}

h2,
h3 {
  color: $textColor;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 0.5rem;
  @include for-tablet-landscape-up {
    font-size: 2.5rem;
  }
  @include for-desktop-up {
    font-size: 3rem;
  }
}

h2 {
  border-top: 1px dashed lighten($background, 20%);
  line-height: 0.25rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px $background;
}

hr {
  border: 2px solid $textColor;
  margin: 0;
}

p {
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  transition: border 0.3s, line-height 0.3s;
  color: $highlightColor;
  text-decoration: none;
  border: none;
  border-bottom: 6px solid lighten($background, 20%);
  line-height: 0.7rem;
  text-indent: 5px;
  margin-right: 5px;
  display: inline-block;
  background: transparent;
  &:hover {
    line-height: 0rem;
    border-bottom-width: 18px;
  }
}

.section-group {
  @include for-desktop-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
  }
}

.experiment-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  @include for-tablet-portrait-up {
    grid-template-columns: 1fr 1fr;
  }
}

.name {
  color: $textColor;
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  line-height: 1;
}

.content-wrapper {
  padding: 1rem 1rem 2rem;
  @include for-tablet-portrait-up {
    padding: 3rem;
  }
}

.links {
  margin-bottom: 2rem;
  a,
  span {
    display: inline-block;
  }
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
}

.statement {
  margin: 0 0 1.5rem 0;
}

.display-wrapper {
  overflow: hidden;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  @include for-tablet-portrait-up {
    padding-bottom: 3rem;
  }
  @include for-desktop-up {
    padding-bottom: 6rem;
  }
}

.display {
  line-height: 0.75em;
  text-transform: uppercase;
  margin: 0;
  font-size: 9rem;
  white-space: nowrap;
  letter-spacing: -0.05em;
  &.javascript {
    position: relative;
    left: 12%;
  }
  &.engineer {
    position: relative;
    left: -10%;
  }
  @include for-tablet-portrait-up {
    font-size: 15rem;
  }

  @include for-desktop-up {
    font-size: 30rem;
  }
}
