@import "./_reset.scss";
@import "./_breakpoints.scss";

html {
  width: 100%;
}

body {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  background: #331a30;
  color: #e9e5d1;
  width: 100%;
  font-size: 1.2rem;
}

h2,
h3 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0;
  @include for-desktop-up {
    font-size: 2rem;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 8px solid rgba(245, 240, 215, 0.3);
  line-height: 0.5rem;
  text-indent: 5px;
  margin-right: 5px;
  display: inline-block;
}

.content-wrapper {
  padding: 1rem;
  @mixin for-tablet-portrait-up {
    padding: 3rem;
  }
  max-width: 100%;
}

.links {
  a,
  span {
    display: inline-block;
  }
}

.name {
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
}

.statement {
  margin: 1rem 0;
}

.display-wrapper {
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  @include for-tablet-portrait-up {
    padding-bottom: 3rem;
  }
}

.display {
  line-height: 0.75em;
  text-transform: uppercase;
  margin: 0;
  font-size: 9rem;
  white-space: nowrap;
  letter-spacing: -0.05em;
  &.javascript {
    position: relative;
    left: 12%;
  }
  &.engineer {
    position: relative;
    left: -10%;
  }
  @include for-tablet-portrait-up {
    font-size: 15rem;
  }

  @include for-desktop-up {
    font-size: 30rem;
  }
}
